<?php
if (basename($_SERVER['SCRIPT_FILENAME'])=='index.php') {
    define('BASE_DIR', '/');
} else {
    define('AUTH_KEY', 'sekrit_PaSSWoRD');
    define('SNACK_IMAGES_PATH_FROM_PUBLIC_DIR', '../images/snacks/');
    define('IMAGES_EXTENSION', 'jpeg');
}
define('MAINTENANCE', false);
define('APCU_INSTALLED', false);
define('FRIENDLY_URLS', false);
if (!MAINTENANCE) {
    define('DB_SERVER', '127.0.0.1');
    define('DB_USER', 'root');
    define('DB_PASSWORD', '');
    define('DB_NAME', 'fondomerende');
}
