<?php
if (API_REQUEST) {
    define('API_KEY', 'sekrit_PaSSWoRD');
} else {
    define('WEB_BASE_DIR', '/');
}
define('MAINTENANCE', false);
define('CLEAN_URLS', false);
define('APCU_ENABLED', function_exists('apcu_enabled') && apcu_enabled());
if (!MAINTENANCE) {
    define('DB_SERVER', '127.0.0.1');
    define('DB_USER', 'root');
    define('DB_PASSWORD', '');
    define('DB_NAME', 'fondomerende');
}
