server {
    listen 80;
    listen 8001;
    
    root /var/www/fondomerende/public/;
    index index.php;
    server_name fondomerende.mia;
    error_page 404 /index.php?view=404;

    location / {
        rewrite ^\/([a-zàA-ZÀ0-9_\-]*)\/?$ /index.php?view=$1 last;
    }

    # pass PHP scripts to FastCGI server
    #
    location ~ \.php$ {
        #include snippets/fastcgi-php.conf;
        try_files $uri =404;
        fastcgi_split_path_info ^(.+\.php)(/.+)$;
        fastcgi_pass unix:/var/run/php/php7.2-fpm.sock;
        fastcgi_index index.php;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        include fastcgi_params;
    }

    # deny access to .htaccess files, if Apache's document root concurs with nginx's one
    location ~ /\.ht {
        #deny all;
    }
}
